<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name="com.foodrescue.app.view.LoginActivity"
            android:theme="@style/Theme.App.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.foodrescue.app.view.RegisterActivity" />
        <activity android:name="com.foodrescue.app.view.BusinessHomeActivity" />
        <activity android:name="com.foodrescue.app.view.CustomerHomeActivity" />
        <activity android:name="com.foodrescue.app.view.AddListingActivity" />
        <activity android:name="com.foodrescue.app.view.ListingDetailsActivity" />
        <activity android:name="com.foodrescue.app.view.MapActivity" />
        <activity android:name="com.foodrescue.app.view.ProfileActivity" />
        <activity android:name="com.foodrescue.app.view.MyOrdersActivity" />
    </application>

</manifest>
